*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.header, 
.footer{
    background-color:#1c57f7;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-colums: 1fr 1fr;
    grid-template-rows: 100px 100px ;
    gap: 10px;
    padding: 20px;
}

.grid-item {
    background-color: #4f46e5;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}